<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Back to Articles", articles_path %>

<%= link_to "Edit Article", edit_article_path(@article) %>

<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
